.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    font-size: 2rem;
}

.create button {
    width: 100%;
    margin: 3rem auto 2rem;
}

button {
    margin-bottom: 2ren;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}

#edit {
    color: white;
}