<form class="form">
    <h1>Remover Técnico: {{id_tech}}</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="tecnico.name" name="name" disabled matInput placeholder="Nome do técnico">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="tecnico.cpf" name="cpf" disabled matInput placeholder="000.000.000-00">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="tecnico.phone" name="phone" disabled matInput placeholder="Ex: (00) 00000-0000">
    </mat-form-field>
    <div class="btn">
        <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="accent">Apagar</button>
        <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>
    </div>
</form>